[Desktop Entry]
Name=Stellarium
Comment=Realistic sky generator
Comment[pl]=Realistyczny generator obrazu nieba
Icon=stellarium
Exec=stellarium
Terminal=false
Type=Application
Categories=Education;Science;Astronomy;
# vi: encoding=utf-8
