[Desktop Entry]
Encoding=UTF-8
Name=Stellarium
Comment=Realistic sky generator
Comment[pl]=Realistyczny generator obrazu nieba
Icon=stellarium.png
Exec=stellarium
Terminal=false
Type=Application
Categories=Science;Astronomy;
# vi: encoding=utf-8
